<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <%-include("partials/nav.ejs") %>
    <h2>Developers:</h2>
    <div class="btns">
       <a href="/dev/add"> <button>Add</button></a>
    </div>
    <ul>
        <% if(locals.devs) {%>
            <% devs.forEach(dev => {%>
                <li> <a href="/dev?id=<%=dev.id %>"><%=dev.devname %> </a></li>
                <button>Delete</button>
                <a href="/dev/add?id=<%=dev.id%>"><button>Update</button></a>
            <% }); %>
        <% } %>
   </ul>
   <h3>Games:</h3>
   <%if(locals.games) { %>
           <% games.forEach(game => { %>
            <a href="/item?id=<%=game.id%>">
            <ul>
                <li> <%=game.name %></li>
                <li><%=game.yr %></li>
                <li><%=game.devname  %></li>
            </ul>
            </a>
              <a href="/item/delete?id=<%=game.id %>"><button>Delete</button></a>
                <a href="/item/add?id=<%=game.id %>"><button>Update</button> </a>
        <%  });  %>
    <% } %>
</body>
</html>