<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <%-include("partials/nav.ejs") %>
      <%-include("partials/errors.ejs") %>
      <h1><%=title %></h1>

      <form <% if(locals.dev){ %>
            action="/dev/add?id=<%=dev.id %>"
        <% } %>
         action="/dev/add"
         method="post">
        <label for="devname">Developer's name:</label>
        <input type="text" id="devname" name="devname" <% if(locals.dev){ %>
            value="<%=dev.devname %>"
            <% } %>
        >

        <button type="submit">Submit</button>
      </form>
</body>
</html>