<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/new<%=item[0].category %>" method="post">
        <label for="<%=item[0].name %>"> <%=item[0].text %></label>
        <input type="text" name="<%=item[0].name  %>" id="<%=item[0].name %>">
    </form>
</body>
</html>