<!DOCTYPE html>
<html lang="en">
<%-include("partials/head.ejs") %>
<body>
      <%-include("partials/nav.ejs") %>

    <div class="titleBar">
        <h3>Genres:</h3>
       <a href="/genre/add"> <button>add genre</button></a>
    </div>
    <ul> 
        <% if(locals.genres) {%>
            <% genres.forEach(genre => {%>
                <li> <a href="/genre?id=<%=genre.id %>"><%=genre.genname %> </a></li>
                <a href="/genre/delete?id=<%=genre.id%>"><button>Delete</button></a>
                <a href="/genre/add?id=<%=genre.id%>"><button>Update</button></a>
            <% }); %>
        <% } %>
   </ul>
   <h3>Games:</h3>
   <%if(locals.games) { %>
           <% games.forEach(game => { %>
             <div class="game">
            <a href="/item?id=<%=game.id%>">
            <ul>
                <li> <%=game.name %> <%=game.genname %></li>
                
            </ul>
            </a>
            <div class="btns">
            <a href="/item/delete?id=<%=game.id %>"><button>Delete</button></a>
                <a href="/item/add?id=<%=game.id %>"><button>Update</button> </a>
                </div>
                </div>
        <%  });  %>
    <% } %>
</body>
</html>