<!DOCTYPE html>
<html lang="en">
<%-include("partials/head.ejs") %>
<body>
    <%-include("partials/nav.ejs") %>
    <div class="titleBar">
        <h3>Games:</h3>
        <a href="/item/add"><button>add game</button></a>
    </div>
    <div class="content">

    
        <% if(locals.games){ %>
        <% games.forEach(game => { %>
            <div class="game">
            <a href="/item?id=<%=game.id%>">
            <ul>
                <li> <%=game.name %>.  <%=game.yr %></li>
                
            </ul>
            </a>
            <div class="btns">
            <a href="/item/delete?id=<%=game.id %>"><button>Delete</button></a>
                <a href="/item/add?id=<%=game.id %>"><button>Update</button> </a>
                </div>
                </div>
        <%  });  %>
        <% } %>

        </div>
</body>
</html>