<!DOCTYPE html>
<html lang="en">
<%-include("partials/head.ejs") %>
<body>
      <%-include("partials/nav.ejs") %>
      <div class="itemPage">
    <h1>Item page</h1>
        <h2>
             <%=item[0].name  %>
        </h2>
        <h2>
           release year: <%=item[0].yr  %>
        </h2>
        <h2>
            <%=item[0].bio  %>
        </h2>
        <h2>
           genre: <%=item[0].genname  %>
        </h2>
        <h2>
            developer:<%=item[0].devname %>
        </h2>
        </div>
</body>
</html>