<!DOCTYPE html>
<html lang="en">
<%-include("partials/head.ejs") %>
<body>
        <%-include("partials/nav.ejs") %>
      <%-include("partials/errors.ejs") %>
    <form 
    <% if(locals.item){ %>
           action="/item?id=<%=item.id  %>"
        <% } else { %>
            action="/item"
            <% } %>
            method="post">
            <div class="formContent">
        <div class="formBlock">
        <label for="name"> Game Name:</label>
        <input type="text" name="name" id="name"
        <% if(locals.item){ %>
            value="<%=item.name %>"
            <% } %>  required>
        </div>
        <div class="formBlock">
            <label for="yr">Year:</label>
            <input type="number" name="yr" id="yr" <% if(locals.item){ %>
                value="<%=item.yr %>"
                <% } %>  required>
        </div>
        <div class="formBlock">
            <label for="devname">Developer name</label>
            <select name="devid" id="devname">
                <% devs.forEach(dev => {%>
                    <option value="<%=dev.id %>"
                        <% if(locals.item){ %>
                         <% if(item.devid == dev.id){ %>
                             selected="selected"
                             <% } }  %>
                         > <%=dev.devname %></option>
               <% });  %>
            </select>
        </div>
        <div class="formBlock">
            <label for="genres">Genres:</label>
            <select name="genreid" id="genres">
                <% genres.forEach(genre => {%>
                    <option value="<%=genre.id %>"
                        <% if(locals.item){ %>
                        <% if(item.genreid == genre.id && locals.item){ %>
                        selected="selected"
                         <% }}  %>
                        > <%=genre.genname %></option>
                <%}); %>
            </select>
        </div>
        <div class="formBlock">
            <label for="bio">Description:</label>
            <textarea name="bio" id="bio">
                <% if(locals.item){ %>
                    <%=item.bio%>
                    <% } %>
            </textarea>
        </div>

        <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>